/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}











body {
	max-width: 720px;
	min-width: 375px;
	padding: 0 15px 0 15px;
	margin: auto;
	margin-top: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 27px;
	font-variant-numeric: oldstyle-nums;
	hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphenate-limit-lines: 2;
	-webkit-hyphenate-limit-lines: 2;
	hyphenate-limit-chars: 7 3 3;
	-webkit-hyphenate-limit-before: 3;
	webkit-hyphenate-limit-after: 3;
	text-align: left;
	/*letter-spacing: .02em;*/

}

p {
	margin-bottom: 27px;
}

h1 {
	font-family: 'Oxanium', cursive;
	color: blue;
	font-weight: 700;
	font-size: 55px;
	line-height: 50px;
	margin-bottom: 2px;
	text-align: left;
}

h2 {
	font-family: 'Oxanium', cursive;
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 18px;
}

h3 {
	font-family: 'Oxanium', cursive;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 15px;
}

h4 {
	font-family: 'Oxanium', cursive;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 3px;
	color: orange;
}

h5 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: blue;
	text-indent: 50px;
} 

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: magenta;
}

i {
	font-style: italic;
}

b {
	font-style: bold;
}

